.portfolio-sec {
    position: relative;
}

.portfolio-sec .project {
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}

.portfolio-sec .project::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(
        0deg,
        rgb(17, 9, 68),
        rgba(17, 9, 68, 0.5),
        rgba(17, 9, 68, 0.25)
    );
    border-radius: 10px;
    opacity: 0.85;
    z-index: 0;
}

.portfolio-sec .project img {
    border-radius: 10px;
}

.portfolio-sec .project h2 {
    position: absolute;
    bottom: 16px;
    left: 24px;
    color: #ffffff;
    font-size: 1.5rem;
}

.portfolio-sec .project-details {
    position: fixed;
    top: 35px;
    left: calc(50% - 250px);
    bottom: 35px;
    max-width: 500px;
    padding: 30px 0;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 9999;
}

.portfolio-sec .custom-scroll {
    padding: 0 30px;
    height: 100%;
    overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
    border-radius: 3px;
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 3px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(135, 83, 255);
}

.portfolio-sec .project-details img {
    border: 1px solid rgba(123, 96, 255, 0.1);
    border-radius: 15px;
}

.portfolio-sec .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(97, 76, 201, 0.9);
    background: linear-gradient(
        150deg,
        rgb(97, 76, 201, 0.9),
        rgba(153, 76, 201, 0.9)
    );
    backdrop-filter: blur(0.5px);
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .portfolio-sec .project h2 {
        position: absolute;
        bottom: 16px;
        left: 24px;
        color: #ffffff;
        font-size: 1.2rem;
    }

    .portfolio-sec .project-details {
        top: 80px;
        left: 30px;
        right: 30px;
        bottom: 80px;
        max-width: 500px;
        padding: 30px 0;
        border-radius: 10px;
    }

    .portfolio-sec .custom-scroll {
        height: 100%;
        padding: 0 25px;
    }

    .portfolio-sec .project-details img {
        border-radius: 10px;
    }
}
