.menu a:hover,
.menu a:active,
.menu a:focus {
    color: #7562e0;
    background: transparent;
}

.swiper-wrapper {
    transition-timing-function: linear;
}

.service-card {
    box-shadow: 0px 8px 30px rgb(234, 242, 255);
    border-radius: 10px;
}
